@import "tailwindcss";

@theme {
  /* Luxury Spice Palette */
  --color-obsidian: #1C1917; /* Warm Dark Brown/Black (Espresso) */
  --color-spice: #9C5221;    /* Cinnamon/Nutmeg Brown */
  --color-gold: #D4AF37;     /* Saffron Gold */
  --color-coolgrey: #F3F4F6; /* Background sekunder */

  /* Fonts */
  --font-playfair: var(--font-playfair), serif;
  --font-inter: var(--font-inter), sans-serif;
}

html {
  scroll-behavior: smooth;
}