@import "tailwindcss";

@theme {
  /* Mendaftarkan Palet Warna Eksklusif */
  --color-obsidian: #1A1A1A;
  --color-emerald: #047857;
  --color-gold: #C5A059;
  --color-coolgrey: #F3F4F6;

  /* Mendaftarkan Font Premium */
  --font-playfair: var(--font-playfair), serif;
  --font-inter: var(--font-inter), sans-serif;
}

html {
  scroll-behavior: smooth;
}